In [11]:
import pandas as pd
data = pd.read_csv("coffee_shop_revenue.csv")

In [12]:
data.head()

,Number_of_Customers_Per_Day,Average_Order_Value,Operating_Hours_Per_Day,Number_of_Employees,Marketing_Spend_Per_Day,Location_Foot_Traffic,Daily_Revenue
0,152,6.74,14,4,106.62,97,1547.81
1,485,4.50,12,8,57.83,744,2084.68
2,398,9.09,6,6,91.76,636,3118.39
3,320,8.48,17,4,462.63,770,2912.20
4,156,7.44,17,2,412.52,232,1663.42

In [13]:
print(data.isnull().sum())

Number_of_Customers_Per_Day    0
Average_Order_Value            0
Operating_Hours_Per_Day        0
Number_of_Employees            0
Marketing_Spend_Per_Day        0
Location_Foot_Traffic          0
Daily_Revenue                  0
dtype: int64

In [14]:
print(data.duplicated().sum())

0

In [15]:
len(data)

2000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Number_of_Customers_Per_Day  2000 non-null   int64
 1   Average_Order_Value          2000 non-null   float64
 2   Operating_Hours_Per_Day      2000 non-null   int64
 3   Number_of_Employees          2000 non-null   int64
 4   Marketing_Spend_Per_Day      2000 non-null   float64
 5   Location_Foot_Traffic        2000 non-null   int64
 6   Daily_Revenue                2000 non-null   float64
dtypes: float64(3), int64(4)
memory usage: 109.5 KB

In [17]:
print(data.describe(include='all'))

       Number_of_Customers_Per_Day  Average_Order_Value  \
count                  2000.000000          2000.000000
mean                    274.296000             6.261215
std                     129.441933             2.175832
min                      50.000000             2.500000
25%                     164.000000             4.410000
50%                     275.000000             6.300000
75%                     386.000000             8.120000
max                     499.000000            10.000000

       Operating_Hours_Per_Day  Number_of_Employees  Marketing_Spend_Per_Day  \
count              2000.000000          2000.000000              2000.000000
mean                 11.667000             7.947000               252.614160
std                   3.438608             3.742218               141.136004
min                   6.000000             2.000000                10.120000
25%                   9.000000             5.000000               130.125000
50%                  12.000000             8.000000               250.995000
75%                  15.000000            11.000000               375.352500
max                  17.000000            14.000000               499.740000

       Location_Foot_Traffic  Daily_Revenue
count            2000.000000    2000.000000
mean              534.893500    1917.325940
std               271.662295     976.202746
min                50.000000     -58.950000
25%               302.000000    1140.085000
50%               540.000000    1770.775000
75%               767.000000    2530.455000
max               999.000000    5114.600000